@font-face {
  font-family: "Redhat-bold";
  src: url("../../public/assets/fonts/static/RedHatText-Bold.ttf");
  font-family: 700;
}
@font-face {
  font-family: "Redhat-regular";
  src: url("../../public/assets/fonts/static/RedHatText-Regular.ttf");
  font-family: 400;
}
@font-face {
  font-family: "Redhat-semibold";
  src: url("../../public/assets/fonts/static/RedHatText-SemiBold.ttf");
  font-family: 600;
}
