@use "../../styles/font.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.dessert {
  h1 {
    font-family: "Redhat-bold";
    font-size: 3em;
    margin-bottom: 1em;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
@include mobile{
  grid-template-columns: auto;
}
  }
}
